<div class="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm sản phẩm</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #productForm="ngForm" (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <label>Tên sản phẩm</label>
            <input type="text" class="form-control" placeholder="Điền vào tên sản phẩm" name="name"
              [(ngModel)]="product.name" #name='ngModel' required
              [ngClass]="{'is-invalid': (name.invalid && (name.dirty || name.touched))}">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
              <div *ngIf="name.errors.required">
                Xin điền vào tên sản phẩm
              </div>
            </div>

          </div>
          <div class="form-group">
            <label>Giá sản phẩm</label>
            <div class="input-group mb-3">

              <input type="number" class="form-control" placeholder="Điền vào giá sản phẩm" name="price"
              [(ngModel)]="product.price" required #price='ngModel' pattern="^[1-9]?[0-9]{1,9}$"
              [ngClass]="{'is-invalid': (price.invalid && (price.dirty || price.touched))}"
              >
              <div class="input-group-append">
                <span class="input-group-text">VNĐ</span>
              </div>
            </div>
            <div *ngIf="price.invalid && (price.dirty || price.touched)" class="text-danger">
              <div *ngIf="price.errors.required">
                Giá sản phẩm không hợp lệ
              </div>
              <div *ngIf="price.errors.pattern">
                Giá sản phẩm không hợp lệ
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="!(this.product.isColored || this.product.isSized)">
            <label>Số lượng</label>
            <div class="input-group mb-3">

              <input type="number" class="form-control" placeholder="Điền vào giá sản phẩm" name="quantity"
              [(ngModel)]="product.quantity" required #quantity='ngModel' pattern="^[1-9]?[0-9]{1,9}$"
              [ngClass]="{'is-invalid': (quantity.invalid && (quantity.dirty || quantity.touched))}"
              >
              
            </div>
            <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-danger">
              <div *ngIf="quantity.errors.required">
                Số lượng sản phẩm không hợp lệ
              </div>
              <div *ngIf="quantity.errors.pattern">
                Số lượng sản phẩm không hợp lệ
              </div>
            </div>
          </div>
          <fieldset class="form-group">
            <legend>Tùy chọn</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"
                name="isColored" #isColored="ngModel" [(ngModel)]="product.isColored"
                >
                Sản phẩm có nhiều màu
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"
                name="isSized" #isSized="ngModel" [(ngModel)]="product.isSized">
                Sản phẩm có nhiều kích thước
              </label>
            </div>
          </fieldset>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!productForm.form.valid">Thêm</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Đóng</button>
      </div>
    </div>
  </div>
</div>